*.gz
.DS_store

ubuntu/static/app
static/app

nuxt-vue/spring/app
nuxt-vue/spring/script/*.jar

nuxt-fredit/spring/app
nuxt-fredit/spring/script/*.jar
nuxt-fredit/vue/app
nuxt-fredit/vue/script/fo-*.jar
nuxt-fredit/vue/script/zu*

gitlab/data